* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    scroll-margin-top: 5rem;
    scroll-snap-align: top;
}

html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 1441px) {
    html {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1801px) {
    html {
        font-size: 1.25rem;
    }
}


:root {
    --black-color: #030303;
    --blue-color: #69DDFF;
    --dark-color: #2A3D45;
    --green-color: #23CE6B;
    --red-color: #EB5160;
    --white-color: #FFFBFE;
    --transition-params: all 0.5s;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.nowrap {
    text-wrap: nowrap;
}

a {
    display: inline-block;
    transition: var(--transition-params);
}

a:any-link {
    color: unset;
    text-decoration: none;
}

hr {
    margin: 3rem 0;
}

body {
    padding-top: 4rem;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: Helvetica, sans-serif;
    min-height: calc(100vh - 2px);
    font-size: 160%;
}

header,
main {
    width: 70%;
    margin: 0 auto;
}

header {
    margin-bottom: 5rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 3rem;
}

.profile-image-container {
    width: 90%;
    border-radius: 50%;
    box-shadow: 0px 0px 1rem var(--red-color);
    transition: var(--transition-params);
    overflow: hidden;
    min-width: 200px;
}

.profile-image-container:hover {
    box-shadow: 0px 0px 1rem var(--green-color);
}

.profile-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 15px var(--red-color);
    transition: var(--transition-params);
}

.profile-image-container img:hover {
    object-fit: contain;
    transform: scale(1.35);
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.3;
    letter-spacing: 1.7px;
}

.title {
    text-decoration: underline 2px;
    letter-spacing: 2.5px;
}

.subtitle {
    text-indent: 2rem;
}

.myname {
    color: var(--blue-color);
    font-weight: 600;
}

.logo {
    height: 2rem;
    width: auto;
    transition: var(--transition-params);
}

.logo:hover {
    border: none;
    transform: scale(1.3);
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 0 5px 5px var(--dark-color);
    z-index: 1;
    font-size: 100%;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    gap: auto;

}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50%;
    list-style-type: none;
}

.nav-link:hover,
.nav-link:active {
    color: var(--blue-color);
    transform: scale(1.1, 1.2);
}

section {
    margin-bottom: 4rem;
}

section:last-child  {
    margin-bottom: unset;
}

.skills-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skills figure {
    height: 200px;
}

.skills img {
    height: 100%;
    display: block;
    transition: var(--transition-params);
}

.skills .mysql {
    height: 125%;
    margin-top: -2rem;
}

.skills img:hover {
    transform: scale(1.25);
}

.resume-header {
    margin-bottom: 1rem;
}

.projects-container {
    padding: 2.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
}


.project-container {
    width: 45%;
}

.project-container img {
    width: 100%;
    border-radius: 15%;
    transition: var(--transition-params);
}

.project-container img:hover {
    filter: opacity(65%);
    transform: scale(1.1);
}

.project-description {
    margin-bottom: 1rem;
}

.resume {
    display: block;
    margin: 0 auto;
    height: 89vh;
    width: 63vh;
    overflow: hidden;
}

.footer {
    padding: 0.5rem 1rem;
    background-color: var(--dark-color);
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 80%;
    }

    header,
    main {
        width: 80%;
        margin: 0 auto;
    }

    .skills figure {
        height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 65%;
    }

    header,
    main {
        width: 90%;
    }

    .skills figure {
        height: 125px;
    }
}

@media screen and (max-width: 768px) {
    header, main {
        width: 100%;
        padding: 2.5rem;
    }
    .profile-container {
        flex-direction: row;
    }
    .profile-text-container {
        width: 125%;
        line-height: unset;
        letter-spacing: unset;
        font-size: 1.25rem;
    }
    .nav-links {
        justify-content: flex-end;
    }
    .non-tablet {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .skills {
        column-gap: 3.5rem;
    }
    .skills figure {
        height: 100px;
    }
    .project-container {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    body {
        font-size: 125%;
    }
    .profile-container {
        flex-direction: column;
    }
    .profile-image-container {
        width: 50%;
    }
    .profile-text-container {
        width: 100%;
    }
    .skills {
        gap: 5rem;
    }
}